{% extends 'base.html.twig' %}

{% block title %}Production
{% endblock %}

{% block body %}
	<!-- Start Contact Area -->
	<section class="htc__contact__area ptb--120 bg__white">
		<div class="container">

			<div class="col-md-6">
				<div class="htc__contact__container">
					{% if message is defined %}
						<h1>{{message}}</h1>
					{% endif %}
					{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
					<div class="single-contact-form">
						{{ form_label (form.name) }}
						<div class="contact-box subject">
							{{ form_widget(form.name) }}
						</div>
					</div>
					<div class="single-contact-form">
						{{ form_label (form.price) }}
						<div class="contact-box subject">
							{{ form_widget(form.price) }}
						</div>
					</div>
					<div class="single-contact-form">
						{{ form_label (form.quantity) }}
						<div class="contact-box subject">
							{{ form_widget(form.quantity) }}
						</div>
					</div>
					<div class="single-contact-form">
						{{ form_label (form.image) }}
						<div class="contact-box subject">
							{{ form_widget(form.image) }}
						</div>
					</div>
					<div class="single-contact-form">
						{{ form_label (form.description) }}
						<div class="contact-box subject">
							{{ form_widget(form.description) }}
						</div>
					</div>

					<div class="single-contact-form">
						{{ form_label (form.category) }}
						<div class="contact-box subject">
							{{ form_widget(form.category) }}
						</div>
					</div>
					<br>
					<div class="contact-btn">
						<button type="button" class="fv-btn" onclick="window.location.href='/manageProducts'" style="margin-right: 20px;">Back</button>
						{{ form_widget(form.save) }}
					</div>

					{{ form_rest(form) }}
					{{ form_end(form) }}

				</div>
			</div>
			<div class="col-md-6">
				<img src="https://userscontent2.emaze.com/images/8ea675f8-c944-4055-b37f-13850321149b/7df4616d5854bf96a78cbacd16a49d7d.jpg">
			</div>
		</div>
	</section>
	<!-- End Contact Area -->
{% endblock %}
